@charset "UTF-8";
/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, 
building blocks
        - Framework
6.0 - Components: specific designed components
        - Navigation
        - Header
        - Flexbox
        - Axis
        - Container
        - Items
        - Footer
        _ Hero
7.0 - Utilities: utilities and helper classes with ability to override anything 
which goes before in the triangle, eg. hide helper class
        - Color     
--------------------------------------------------------------*/                  
/*--------------------------------------------------------------                  
   3.0 - GENERIC                                                                  
-------------------------------------------------------------- */                 
/* ----- UNIVERSAL ----- */



/*--------------------------------------------------------------
   4.0 - ELEMENTS
-------------------------------------------------------------- */

body header span,
header > div:first-child p,
header > div:last-child p {
        font: 18px 'Source Sans Pro', sans-serif;
}

body header span,
header > div:first-child p,
header > div:first-child a {
        color: #3F3C45;
}

body header span,
header nav a,
#bold {
        font-weight: 700;
}

header nav a,
header > div:last-child p,
h1,
main > section:first-child a {
        text-transform: uppercase;
}

header .wrapper nav a,
header > div:last-child p,
main > section:first-child a {
        color: #FFFFFF;
}

header .wrapper nav a,
main > section:first-child a {
        font-family: 'Lato';
        font-size: 16px;
        line-height: 19px;
        background-color: #FE8360;
        /* padding: 15px 20px; */
        padding: 17px 20px;
}

header .wrapper nav a:hover,
main > section:first-child a:hover {
        background-color: #51CCF6;
        color: #FFFFFF;
}

main p,
main li {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
}

footer a,
footer address li {
        font-size: 14px;
        line-height: 22px;
}
/* ----- TYPOGRAPHY ----- */

body header span {
        line-height: 23px;
}

header div:first-child p {
        line-height: 26px;
}

header .row p {
        text-align: right;
        margin-bottom: 27px;
}

header > div:last-child p {
        font-weight: 300;
        font-size: 30px;
        line-height: 38px;
}

header > div:first-child a:hover {
        color: #FE8360;
}

#bold {
        font-size: 50px;
        line-height: 63px;
}

h1 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 35px;
        line-height: 44px;
        color: #3F3C45;
}

h1 span {
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
}

.fa-solid {
        font-weight: 900;
        font-size: 50px;
        line-height: 50px;
        color: #FE8360;
}

h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: #3F3C45;
        margin: 72px 0 5px 0;
}

h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FFFFFF;
}

footer a {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        color: #B6BCC7;     
}

footer a:hover {
        color: #FFFFFF;
}

footer address li {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        font-style: normal;
}


/*--------------------------------------------------------------
   5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 1024px;
        margin: 0 auto;
}
    
.row {
        display: flex;
}

/*--------------------------------------------------------------
   5.0 - COMPONENTS
-------------------------------------------------------------- */

header a,
main > section:first-child a,
footer a {
        text-decoration: none;
}

header > div:last-child h1,
header > div:last-child p,
main p,
main > section:first-child li {
        margin: 0;
}

.fa-compass-drafting,
.fa-pen-to-square,
.fa-champagne-glasses,
.fa-cloud,
.fa-comment,
.fa-laptop,
.fa-gear,
.fa-envelope,
.fa-lock {
        position: relative;
        top: 75px;
        margin-right: 20px;
}

.fa-pen-to-square,
.fa-champagne-glasses,
.fa-comment,
.fa-laptop,
.fa-envelope,
.fa-lock {
        margin-left: 20px;
}

header li,
footer li {
        list-style-type: none;
}

#blue div,
#orange div {
        text-align: left;
        padding: 116px 0 51px 0;
}

/* ----- HERO ----- */

#img {
        background: url("../img/computer-glowing.jpg") no-repeat center;
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        width: 100vw;
}

body header .row {
        display: flex;
        justify-content: space-between;
}

header > div:last-child .wrapper {
        text-align: center;
        padding: 255px 0 115px 0;
}

/* ----- NAV ----- */

header nav li {
        display: inline;
}

/* ----- HOME ----- */

main > section:first-child > div:first-child {
        width: 640px;
        float: left;
}

h1 {
        margin: 81px 0 14px 0;
}

main > section:first-child > div:last-child {
        background: url("../img/woman-typing.jpg") no-repeat;
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        margin: 0 auto;
        width: 409px;
        background-position: center bottom -170px;
        float: right;
}

main > section:first-child ul {
        margin-bottom: 26px;
}

.fa-certificate {
        position: relative;
        top: 115px;
        left: -25px;
}

.row section > div:last-child {
        width: 310px;
        margin: 0 0 63px 0;
}

/* ----- BENEFITS ----- */

#blue {
        background-color: #51CCF8;
}

/* main > div:last-child h2 {
        margin-top: 0;
} */

/* ----- HOSTING ----- */

#orange {
        background-color: #FE8360;
}

/* ----- FOOTER ----- */

footer {
        background-color: #4D515C;
}

footer > section:last-child  {
        display: inline;
}

footer ul {
        padding-left: 0;
}

.wrapper > section:last-child ul {
        display: flex;
        justify-content: space-between;
}

footer div > section:first-child {
        margin-right: 70px;
}

footer div > section:nth-child(2) {
        margin-right: 50px;
}

/* ----- AXIS ----- */



/* ----- CONTAINER ----- */



/* ----- ITEMS ----- */



/* ----- FOOTER ----- */



/* ----- HERO ----- */



/*--------------------------------------------------------------
   7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- COLOR ----- */

