@charset "UTF-8";
/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, 
building blocks
        - Framework
6.0 - Components: specific designed components
        - Navigation
        - Header
        - Flexbox
        - Axis
        - Container
        - Items
        - Footer
        _ Hero
7.0 - Utilities: utilities and helper classes with ability to override anything 
which goes before in the triangle, eg. hide helper class
        - Color     
--------------------------------------------------------------*/                  
/*--------------------------------------------------------------                  
   3.0 - GENERIC                                                                  
-------------------------------------------------------------- */                 
/* ----- UNIVERSAL ----- */


/*--------------------------------------------------------------
   4.0 - ELEMENTS
-------------------------------------------------------------- */

body header span,
header div:first-child p {
        font: 18px 'Source Sans Pro', sans-serif;
}

body header span,
header div:first-child p,
header div:first-child a {
        color: #3F3C45;
}

/* ----- TYPOGRAPHY ----- */

body header span {
        font-weight: 700;
        line-height: 23px;
}

header div:first-child p {
        font-weight: 400;
        line-height: 26px;
}

header a {
        text-decoration: none;
}

header li {
        list-style-type: none;
}

header nav a {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #FE8360;
        padding: 15px 20px;
}


/*--------------------------------------------------------------
   5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 1024px;
        margin: 0 auto;
}
    
.row {
        display: flex;
}

/*--------------------------------------------------------------
   5.0 - COMPONENTS
-------------------------------------------------------------- */

/* ----- HERO ----- */

header > div:last-child {
        background: url("../img/computer-glowing.jpg") no-repeat center;
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        width: 100vw;
}


/* ----- NAV ----- */

header a {
        text-decoration: none;
}

header li {
        list-style-type: none;
}

header nav li {
        display: inline;
}

/* ----- HEADER ----- */


/* ----- FLEXBOX ----- */


/* ----- AXIS ----- */



/* ----- CONTAINER ----- */



/* ----- ITEMS ----- */



/* ----- FOOTER ----- */



/* ----- HERO ----- */



/*--------------------------------------------------------------
   7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- COLOR ----- */

