@charset "UTF-8";
/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, 
building blocks
        - Framework
6.0 - Components: specific designed components
        - Hero
        - Navigation
        - Home
        - Benefits
        - Hositng
        - Footer
7.0 - Utilities: utilities and helper classes with ability to override anything 
which goes before in the triangle, eg. hide helper class    
--------------------------------------------------------------*/                  
/*--------------------------------------------------------------                  
   3.0 - GENERIC                                                                  
-------------------------------------------------------------- */                 
/* ----- UNIVERSAL ----- */

* {
        font-family: 'Source Sans Pro', sans-serif;
}

/*--------------------------------------------------------------
   4.0 - ELEMENTS
-------------------------------------------------------------- */

body header span,
header > div:first-child p,
header > div:last-child p,
#home h3,
#benefits h2,
#home h4,
#hosting h2,
#benefits h3,
#hosting main p,
#home h2,
#benefits h1,
#hosting h1 {
        font-size: 18px;
}

body header span,
header > div:first-child p,
header > div:first-child a,
#home h3,
#benefits h2,
th,
thead tr th,
tbody td,
#hosting main p,
#hosting main p span,
#home h2,
#benefits h1,
#hosting h1,
#home h2 span {
        color: #3F3C45;
}

body header .row > div:nth-child(2) span,
header nav a,
#home h3,
#benefits h2,
#home h4,
#hosting h2,
#benefits h3,
thead a,
tfoot a,
#hosting main p a,
#hosting main p span,
#home h2 span,
#benefits h1 span,
#hosting h1 span,
th span {
        font-weight: 700;
}

header nav a,
header > div:last-child p,
main > section:first-child a,
#home h3,
#benefits h2,
#home h4,
#hosting h2,
#benefits h3,
thead tr th,
thead a,
tfoot a,
#hosting main p a,
#hosting main p,
#hosting main p span,
#home h2,
#benefits h1,
#hosting h1,
#home h2 span,
#benefits h1,
#hosting h1,
#benefits h1 span,
#hosting h1 span {
        text-transform: uppercase;
}

header .wrapper nav a,
header > div:last-child p,
header > div:last-child span,
main > section:first-child a,
header .wrapper nav a:hover,
main > section:first-child a:hover,
#home h4,
#hosting h2,
#benefits h3,
footer a:hover,
footer address li,
thead a,
tfoot a,
#hosting main p a,
#benefits h1,
#hosting h1,
#benefits h1 span,
#hosting h1 span  {
        color: #FFFFFF;
}

header .wrapper nav a,
main > section:first-child a,
main p,
main li,
thead a,
tbody td,
tfoot a,
#hosting main p a {
        font-size: 16px;
}

header .wrapper nav a,
main > section:first-child a {
        font-family: 'Lato';
        line-height: 19px;
}

footer a,
main p,
main li,
thead tr th,
tbody td,
#year,
#extension,
#domain-name {
        font-weight: 400;
}

tbody td,
main p,
main li {
        line-height: 28px;
}

main p,
main li {
        color: #000000;
}

#year,
#extension,
#domain-name
footer a,
footer address li {
        font-size: 14px;
}

footer a,
footer address li,
body header span,
#home h3,
#benefits h2,
#home h4,
#hosting h2,
#benefits h3,
header > div:last-child span
#hosting main p,
#home h2,
#benefits h1,
#hosting h1 {
        line-height: 22px;
}

header > div:first-child p a:hover,
.fa-solid {
        color: #FE8360;
}

thead a,
tfoot a,
#hosting main p a {
        line-height: 20px;     
}

tfoot a,
#hosting main p a {    
        padding: 15px 72.5px;
}

header > div:last-child span
#hosting main p,
#home h2,
#benefits h1,
#hosting h1,
#benefits h1,
#hosting h1,
body header span {
        font-weight: 300;
}

#year,
#extension,
#domain-name {
        line-height: 15px;
        border: 1px solid #3F3C45;
}

#year:hover,
#extension:hover,
#domain-name:hover {
        border: 1px solid #FE8360;
}

#domain-name,
#year {
        margin-right: 20px;
}

#benefits h1,
#hosting h1 {
        font-size: 30px;
        line-height: 38px;
        padding: 116px 0 51px 0;
}

#benefits h1 span,
#hosting h1 span {
        font-size: 50px;
        line-height: 63px;
}

/* ----- TYPOGRAPHY ----- */


header div:first-child p {
        line-height: 26px;
}

header > div:last-child span {
        font-size: 30px;
        line-height: 38px;
}

header > div:last-child p {
        font-size: 50px;
        line-height: 38px;
}

#home h2 span {
        font-size: 35px;
        line-height: 30px;
}

#hosting main p span {
        font-size: 35px;
        line-height: 30px;
}

.fa-solid {
        font-weight: 900;
        font-size: 50px;
        line-height: 50px;
}

thead > tr:first-child th {
        font-weight: 200;
        font-size: 75px;
        line-height: 94px;
}

thead tr th {
        font-size: 25px;
        line-height: 36px;
}

thead a {
        padding: 10px 57px;
}

tbody td {
        border-bottom: 1px solid #E0DFE1;
        text-align: center;
}

tfoot td {
        text-align: center;
}


/*--------------------------------------------------------------
   5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 1024px;
        margin: 0 auto;
}
    
.row {
        display: flex;
}

/*--------------------------------------------------------------
   5.0 - COMPONENTS
-------------------------------------------------------------- */

header .wrapper nav a,
main > section:first-child a {
        padding: 17px 20px;
}

header a,
main > section:first-child a,
footer a,
thead a
tfoot a,
#hosting main p a {
        text-decoration: none;
}

header > div:last-child h1,
header > div:last-child p,
main p,
main > section:first-child li {
        margin: 0;
}

.fa-compass-drafting,
.fa-pen-to-square,
.fa-champagne-glasses,
.fa-cloud,
.fa-comment,
.fa-laptop,
.fa-gear,
.fa-envelope,
.fa-lock {
        position: relative;
        top: 75px;
        margin-right: 20px;
}

.fa-pen-to-square,
.fa-champagne-glasses,
.fa-comment,
.fa-laptop,
.fa-envelope,
.fa-lock {
        margin-left: 20px;
}

header li,
footer li {
        list-style-type: none;
}

#bg-blue div,
#bg-orange div {
        text-align: left;
        padding: 116px 0 51px 0;
}

.fa-gear,
.fa-envelope,
.fa-lock {
        top: 5px;
}

header .wrapper nav a,
main > section:first-child a, 
tfoot a,
#hosting main p a,
header nav ul,
thead a:hover,
#bg-orange {
        background-color: #FE8360;
}

header .wrapper nav a:hover,
main > section:first-child a:hover,
thead a {
        background-color: #51CCF6;
}

tbody > tr:nth-child(2) td,
tbody > tr:nth-child(3) td,
tbody > tr:nth-child(4) td {
        padding: 13px;
}

th, 
td {
        width: 256px;
}

#domain-name,
#year {
        margin-right: 20px;
}

/* ----- HERO ----- */

body header .row {
        display: flex;
        justify-content: space-between;
}

header > div:last-child .wrapper {
        text-align: center;
        padding: 255px 0 115px 0;
}

header .row p {
        text-align: right;
        margin-bottom: 27px;
}

/* ----- NAV ----- */

header nav li {
        display: inline;
}

header nav a {
        display: inline-block;
}

header nav ul {
        margin-bottom: 0;
        padding: 0;
}

tfoot a:hover,
#hosting .row a:hover,
#bg-blue {
        background-color: #51CCF8;
}

/* ----- HOME ----- */

#img {
        background: url("../img/computer-glowing.jpg") no-repeat center;
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        width: 100vw;
}

main > section:first-child > div:first-child {
        width: 640px;
        justify-content: left ;
}

#home h2 {
        margin: 81px 0 14px 0;
}

#home main > section:first-child > div:last-child {
        background: url("../img/woman-typing.jpg") no-repeat;
        -moz-backround-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        margin: 0 auto;
        width: 409px;
        background-position: center bottom -170px;
        justify-content: right;
}

main > section:first-child ul {
        margin-bottom: 26px;
}

#home h3,
#benefits h2 {
        margin: 72px 0 5px 0;
}

.fa-certificate {
        position: relative;
        top: 66px;
        left: -25px;
}

.row section > div:last-child {
        margin: 0 0 63px 0;
}

#home ul {
        margin-top: 0;
}

#home main > div section {
        width: 350px;
}


/* ----- BENEFITS ----- */

#benefits main > div:nth-child(2) h2 {
        margin-top: 0;
}

#benefits main section {
        width: 350px;
}

/* ----- HOSTING ----- */

#bg-grey {
        background-color: #E7F5F8;
        width: 100vw;
        margin-bottom: 72px;
}

table {
        border: 1px solid #E0DFE1;
}

th,
td {
        border-right: 1px solid #E0DFE1;
}


#hosting .fa-magnifying-glass {
        font-size: 20px;
}

thead > tr:first-child th {
        padding-top: 24px;
}

thead > tr:nth-child(2) th {
        padding-bottom: 17px;
}

thead > tr:nth-child(3) th {
        padding-bottom: 49px;
}

tbody > tr:first-child td {
        padding-bottom: 13px;
}

tbody > tr:nth-child(5) td {
        padding-top: 13px;
}

tfoot td {
        padding: 50px 0 35px 0;
}

#hosting footer {
        margin-top: 72px;
}

tbody > tr:last-child td {
        border-bottom: none;
}

tbody tr > td:last-child,
thead tr > th:last-child,
tfoot tr > td:last-child {
        border-right: none;
}

#hosting main .row {
        display: flex;
        justify-content: space-between;
}

#hosting main .row > div:first-child {
        padding: 47px 0 62px 0;
}

form {
        padding-top: 99px;
}

#hosting .row > p {
        padding-top: 114px;
}

#domain-name {
        padding: 17px 164px 17px 11px;
}

#year,
#extension {
        padding: 15px 68px 15px 11px;
}

/* ----- FOOTER ----- */

footer {
        background-color: #4D515C;
}

footer > section:last-child  {
        display: inline;
}

footer ul {
        padding-left: 0;
}

.wrapper > section:last-child ul {
        display: flex;
        justify-content: space-between;
}

footer section:first-child {
        margin-right: 70px;
        margin-bottom: 49px;
}

footer section:nth-child(2) {
        margin-right: 50px;
}

footer section {
        margin-top: 38px;
}

footer a {
        color: #B6BCC7;     
}

footer address li {
        font-weight: 600;
        font-style: normal;
}



